<!DOCTYPE html>
<html th:replace="~{layouts/main :: layout(~{::main})}" xmlns:th="http://www.thymeleaf.org">

<body>
<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h3 class="display-3">Welcome to Spring Role Based Security</h3>
            <p>This is a home page for everyone.</p>
            <p>User menu above to navigate to protected resources.</p>

            <div th:replace="fragments/account-list :: account-list"></div>
        </div>
    </div>
</main>

<script src="http://localhost:35729/livereload.js"></script>

</body>
</html>